services:
  marimo:
    build:
      context: .
      dockerfile: marimo-cuda.Dockerfile

    ports:
      - "2718:2718"

    volumes:
      - .:/app
      - /app/.venv

    working_dir: /app

    command: >
      uv run marimo edit
      --no-token
      --host 0.0.0.0
      --port 2718

    environment:
      PYTHONDONTWRITEBYTECODE: "1"
      PYTHONUNBUFFERED: "1"

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  tensorboard:
    build:
      context: .
      dockerfile: marimo-cuda.Dockerfile

    ports:
      - "6006:6006"

    volumes:
      - .:/app
      - /app/.venv

    working_dir: /app

    command: >
      uv run tensorboard
      --logdir=runs
      --host 0.0.0.0
      --port 6006

    environment:
      PYTHONDONTWRITEBYTECODE: "1"
      PYTHONUNBUFFERED: "1"

    depends_on:
      - marimo